<!-- <% @shouts.each do |shout| %> -->
  <div>
    <%= link_to shout.username, shout.user %>
    <% if shout.content.instance_of? TextShout %>
      <%= text_shout.body %>
    <% else %>
      <%= image_tag(photo_shout.image(:thumb)) %>
    <% end %>
    <%= link_to shout do %>
      <%= time_ago_in_words(shout.created_at) %> ago
    <% end %>
  </div>
<!-- <% end %> -->